{% extends 'base.html.twig' %}

{% block title %}Transaction List{% endblock %}

{% block body %}
    <a href="{{ path('car_new') }}" class="btn btn-success">Create Entry</a>

    <div class="row">
        <div class="widget-box" style="width:90%">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Car Panel</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table display nowrap" id="list-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Car Number</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                     {% for car in cars %}
                        <tr>

                            <td>{{ car.name }}</td>
                            <td>{{ car.chessis }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('car_edit', {'id': car.id}) }}">Modify</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
