{% extends 'base.html.twig' %}
{% block title %}New Car{% endblock %}
{% block body %}
    <button class="btn btn-info btn-lg"> <a href="{{ path('car_index') }}">Back to List</a></button>
    <hr/>
    <div class="col-md-8" margin-bottom>
        <h3 style="display: inline">Entry Panel</h3>
    </div>
    {{ include('car/_form.html.twig') }}
{% endblock %}
