<footer class="footer text-center" >
    All Rights Reserved by Portland-admin. Designed and Developed by <a href="http://portland-ad.com/" target="_blank">Portland Advertising Agency FZE LLC</a>.
</footer>
<!-- Modal -->
<div class="modal fade" id="showTransactionDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true ">
    <div class="modal-dialog" role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true ">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="transactionContent">&nbsp;</div>
        </div>
    </div>
</div>
<!-- Modal -->