<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->

        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('car_index') }}" aria-expanded="false"><i class="fa fa-calculator" aria-hidden="true"></i><span class="hide-menu">Car Manage</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('spare_parts_index') }}" aria-expanded="false"><i class="fa fa-calculator" aria-hidden="true"></i><span class="hide-menu">Spears Parts Manage</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('entry_details_index') }}" aria-expanded="false"><i class="fa fa-calculator" aria-hidden="true"></i><span class="hide-menu">Entry Detials</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('liquid_parts_details_index') }}" aria-expanded="false"><i class="fa fa-calculator" aria-hidden="true"></i><span class="hide-menu">Manage Wastage Liquid</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->

</aside>