<form method="post" action="{{ path('spare_parts_delete', {'id': spare_part.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ spare_part.id) }}">
    <button class="btn">Delete</button>
</form>
